<div class="ui grid section-header" ng-click="section_expanded_toggle()">
  <div class="column">
    <i class="square outline icon" ng-class="{minus: !$expanded, plus: $expanded}"></i>
    <span class="ui header">
      Torrents
      <span class="ui label">
        <i class="list icon"></i>
        {{ numKeys(state.Torrents) }} task{{ numKeys(state.Torrents) <= 1 ? '' : 's' }}
      </span>
    </span>
  </div>
</div>

<div ng-if="isEmpty(state.Torrents)" class="ui message nodownloads">
  <p>Add torrents above</p>
</div>

<div ng-if="!isEmpty(state.Torrents) && $expanded" class="ui raised segments">
  <div ng-repeat="t in state.Torrents | dictValuesArray | orderBy:'AddedAt'" ng-class="{open: t.open}"
    class="ui torrent segment">

    <div ng-if="!t.Loaded" class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>

    <div class="ui stackable grid">
      <div class="ten wide info column">
        <div class="name ui header">
          <span ng-show="!ready(t.Name+'.zip')" title="{{ t.Name }}">
            {{ t.Name }}
          </span>
          <a ng-show="ready(t.Name+'.zip')" ng-href="{{ ready(t.Name+'.zip').url }}" title="{{ t.Name }}">
            {{ t.Name }}
          </a>
        </div>
        <div class="speed">
          <span data-mode="Speed" class="ui label" title="Upload Speed" ng-class="{
            yellow:t.UploadRate > 0 && t.UploadRate < 102400,
            green:t.UploadRate > 0 && t.UploadRate >= 102400
            }" ng-click="toggleTagDetail($event, t)">
            <i class="cloud upload icon"></i>
            {{t.UploadRate | bytes}}/s
          </span>
          <span data-mode="Speed" class="ui label" title="Download Speed" ng-class="{
            yellow:t.DownloadRate > 0 && t.DownloadRate < 102400,
            green:t.DownloadRate > 0 && t.DownloadRate >= 102400
            }" ng-click="toggleTagDetail($event, t)">
            <i class="cloud download icon"></i>
            {{t.DownloadRate | bytes}}/s
          </span>
          <span data-mode="Peers" class="ui label" title="Peers" ng-class="{ 
            green: t.Stats.ActivePeers > 0,
            yellow: t.Stats.ActivePeers == 0 && t.Stats.TotalPeers > 0,
            }" ng-click="toggleTagDetail($event, t)">
            <i class="sitemap icon"></i>
            {{ t.Stats.TotalPeers }}
          </span>
          <span data-mode="Ratio" title="Ratio" class="ui label" ng-class="{
            green: t.SeedRatio >= 1 }" ng-click="toggleTagDetail($event, t)">
            <i class="exchange alternate icon"></i>
            {{ t.SeedRatio | round }}
          </span>
        </div>
        <div class="ui blue small progress" ng-class="{active: t.Percent > 0 && t.Percent < 100}">
          <div class="bar" ng-style="{
          width: (t.Percent > 10 ? t.Percent:10) + '%'}">
            <div class="progress">{{t.Percent | round}}%</div>
          </div>
        </div>
      </div>
      <div class="six wide controls column">
        <div class="ui mini buttons">
          <button class="ui button" ng-class="{teal: t.$showFiles, blue: !t.$showFiles}"
            ng-click="t.$showFiles = !t.$showFiles">
            <i class="file icon"></i> Files
          </button>
          <button ng-disabled="!t.Loaded || t.Started || $rootScope.apiing" class="ui compact button"
            ng-class="{green: !t.Started}" ng-click="submitTorrent('start', t)">
            <i class="play icon"></i> Start
          </button>
          <button ng-if="t.Started" ng-disabled="$rootScope.apiing" class="ui compact red button"
            ng-click="submitTorrent('stop', t)">
            <i class="stop icon"></i> Stop
          </button>
          <button ng-if="!t.Started" ng-disabled="$rootScope.apiing" class="ui compact red button"
            style="z-index: 99999;" ng-click="submitTorrent('delete', t)">
            <span ng-if="!t.Loaded">
              <i class="ban icon"></i> Cancel</span>
            <span ng-if="t.Loaded">
              <i class="trash icon"></i> Remove</span>
          </button>
        </div>

        <div ng-if="t.Started" class="status download">
          <span title="Download Data" data-mode="Downloaded" class="ui label" title="Downloaded"
            ng-click="toggleTagDetail($event, t)">
            <i class="save icon"></i>
            {{t.Downloaded | bytes}} / {{t.Size | bytes}}
          </span>
        </div>
      </div>

      <div class="ui sixteen wide column" ng-if="t.$showMode">
        <div class="ui info message">
          <i class="close icon" ng-click="t.$showMode = null"></i>
          <div class="header">
            {{t.$detailTitle}}
          </div>
          <p ng-if="t.$showMode === 'Speed'">
            Upload : {{t.UploadRate | bytes}}/s | Download : {{t.DownloadRate | bytes}}/s
          </p>
          <p ng-if="t.$showMode === 'Peers'">
            Total: {{ t.Stats.TotalPeers }} / Active: {{t.Stats.ActivePeers}} / HalfOpen: {{t.Stats.HalfOpenPeers}} /
            Pending: {{t.Stats.PendingPeers}}
          </p>
          <p ng-if="t.$showMode === 'Ratio'">
            Exchanged Ratio:{{ t.SeedRatio | round }} / Uploaded Data: {{ t.Stats.BytesWritten | bytes }} / Downloaded
            Data: {{ t.Stats.BytesRead | bytes }}
          </p>
          <p ng-if="t.$showMode === 'Downloaded'">
            Download Size: {{t.Downloaded | bytes}} / Total Size: {{t.Size | bytes}} - {{ t.Percent }}%
          </p>
        </div>
      </div>

      <!--
    <div ng-if="!t.open" class="row stopped"><div class="column">
      This torrent is inactive. Press the green power button to reactivate or the red trash can to remove it.
    </div></div>
     -->
      <div class="row" ng-show="t.$showFiles && t.Loaded">
        <div class="column">
          <div class="ui mini fluid labeled input">
            <div class="ui label">
              Magnet
            </div>
            <input type="text" value="{{t.Magnet}}">
            <button class="ui mini teal right icon button" ng-click="copyMagnetLink($event)">
              <i class="copy icon"></i>
              Copy
            </button>
          </div>
          <table class="ui unstackable compact striped downloads tcld table">
            <thead>
              <tr>
                <th class="name">File</th>
                <th class="size">Size</th>
                <th class="size">Action</th>
                <!-- <th>&nbsp;</th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-if="!t.Files || t.Files.length == 0">
                <td colspan="2" class="muted">No files</td>
              </tr>
              <tr class="download file" ng-repeat="f in t.Files | orderBy:'Path'">
                <td class="name">
                  <div>
                    <span>{{ f.Path | filename }}</span>
                    <span class="percent" ng-if="f.Percent > 0 && f.Percent < 100">{{ f.Percent }}% </span>
                    <div ng-if="f.Percent > 0 && f.Percent < 100" class="ui blue active progress">
                      <div class="bar" ng-style="{width: f.Percent + '%'}">
                        <div class="progress"></div>
                      </div>
                    </div>
                    <!--
                <a ng-show="f.Percent == 100" ng-href="{{ f.Path }}">
                  {{ f.Path | filename }}
                </a>
                 -->
                  </div>
                  <div ng-if="f.downloadError" class="ui error message">
                    <i class="close icon" ng-click="f.downloadError = null"></i>
                    <p>{{f.downloadError}}</p>
                  </div>
                </td>
                <td class="size">
                  {{ f.Size | bytes }}
                  <i ng-class="{ 'green check':f.Done, 'hourglass half grey':!f.Done }" class="icon"></i>
                </td>
                <td>
                  <button ng-if="f.Started" ng-disabled="$rootScope.apiing || f.Done" class="ui compact mini red button"
                    ng-click="submitFile('stop', t, f)">
                    <i class="stop icon"></i> Stop
                  </button>
                  <button ng-if="!f.Started" ng-disabled="$rootScope.apiing || f.Done"
                    class="ui compact mini green button" ng-click="submitFile('start', t, f)">
                    <i class="play icon"></i> Start
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot ng-if="numKeys(t.Files) > 1">
              <tr>
                <th></th>
                <th class="name">
                  {{ numKeys(t.Files) }} Files
                </th>
                <th>
                  {{ t.Size | bytes }} Total
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<h5 ng-if="!$expanded" class="ui horizontal divider header" ng-click="section_expanded_toggle()">
  <i class="angle double down icon"></i>
  Click To Expand
</h5>