
<div class="torrents-header">
  <h3 class="ui header">
    Torrents
  </h3>
  <h5 class="ui files downloading header">
    {{ numKeys(state.Torrents) }} torrents
  </h5>
</div>

<div ng-if="isEmpty(state.Torrents)" class="ui message nodownloads">
  <p>Add torrents above</p>
</div>

<div ng-repeat="(hash, t) in state.Torrents"
  ng-class="{open: t.open}"
   class="ui torrent segment">

  <div ng-if="!t.Loaded" class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>

  <div class="ui stackable grid">
    <div class="two column row">
      <div class="info column">
        <div class="name">
          <span ng-show="!ready(t.Name+'.zip')">
            {{ t.Name }}
          </span>
          <a ng-show="ready(t.Name+'.zip')"
            ng-href="{{ ready(t.Name+'.zip').url }}">
            {{ t.Name }}
          </a>
        </div>
        <div class="hash">#{{ t.InfoHash }}</div>
      </div>
      <div class="controls column">
        <span ng-if="t.Started" class="status download">
          <span ng-class="{muted:t.Downloaded == 0}">{{t.Downloaded | bytes}}</span>
          <span ng-class="{muted:t.DownloadRate == 0}"> ({{t.DownloadRate | bytes}}/s)
            <!-- <i class="ui arrow down icon"></i> -->
          </span>
        </span>
        <a ng-if="!t.Started" class="ui green label"
          ng-click="submitTorrent('start', t)">
          <i class="cloud download icon"></i> Start
        </a>
        <a ng-if="t.Started" class="ui red label"
          ng-click="submitTorrent('stop', t)">
          <i class="stop icon"></i> Stop
        </a>
        <a ng-if="!t.Started" class="ui red label"
          ng-click="submitTorrent('delete', t)">
          <i class="trash icon"></i> Remove
        </a>
      </div>
    </div>
    <!--
    <div ng-if="!t.open" class="row stopped"><div class="column">
      This torrent is inactive. Press the green power button to reactivate or the red trash can to remove it.
    </div></div>
     -->
    <div class="row" ng-show="t.Loaded"><div class="column">
      <table class="ui unstackable compact striped downloads tcld table">
        <thead>
          <tr>
            <th class="name">File</th>
            <th class="size">Size</th>
            <th class="percent">Progress</th>
            <!-- <th>&nbsp;</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!t.Files || t.Files.length == 0">
            <td colspan="3" class="muted">No files</td>
          </tr>
          <tr class="download file" ng-repeat="f in t.Files">
            <td class="name">
              <div>
                <span ng-show="f.Percent < 100">
                  {{ f.Path | filename }}
                </span>
                <a ng-show="f.Percent == 100" ng-href="{{ f.Path }}">
                  {{ f.Path | filename }}
                </a>
              </div>
              <div ng-if="f.downloadError"
                class="ui error message">
                <i class="close icon" ng-click="f.downloadError = null"></i>
                <p>{{f.downloadError}}</p>
              </div>
            </td>
            <td class="size">
              {{ f.Size | bytes }}
            </td>
            <td class="percent">
              <span class="text">{{ f.Percent }}%</span>
              <div ng-show="f.Percent > 0 && f.Percent < 100"
                 class="ui blue active progress">
                <div class="bar" ng-style="{width: f.Percent + '%'}">
                  <div class="progress"></div>
                </div>
              </div>
            </td>
            <!-- <td class="controls">
              <i ng-class="{disabled: f.Started}"
                ng-click="!f.Started && submitFile('start', t, f)"
                class="green cloud download icon"></i>
            </td>
             -->
          </tr>
        </tbody>
        <tfoot ng-if="numKeys(t.Files) > 1">
          <tr>
            <th class="name">
              {{ numKeys(t.Files) }} Files
            </th>
            <th>
              {{ t.Size | bytes }} Total
            </th>
            <th>
              &nbsp;
            </th>
          </tr>
        </tfoot>
      </table>
    </div></div>
  </div>
</div>
