[Unit]
Description=Cloud torrent download manager
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=~
Environment=AUTH=user:ctorrent
Environment=PORT=3000
ExecStart=/usr/local/bin/cloud-torrent -c ./cloud-torrent.json --host 0.0.0.0 --disable-log-time
Restart=always
RestartPreventExitStatus=42
RestartSec=3

[Install]
WantedBy=multi-user.target
