

.omni {
	margin-top: 5px;
}

.omni .buttons {
	margin-top: 5px;
	text-align: center;
}

.omni .results {
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid rgba(0,0,0,.15);
	margin-top: 5px;
	border-radius: 4px;
}

.omni .results .name {
	/*font-size: .75em;*/
	text-align: right;
}

.omni .results .users {
	width: 75px;
	text-align: center;
}
.omni .results .seeds {
	color: #5bbd72;
}

.omni .results .peers {
	color: rgb(176, 127, 20);
}

.omni .results .loadmore {
	text-align: right;
}

.omni .search select {
	padding: 0 10px;
	margin-top: 0px;
	border-radius: 4px;
	background: #D58686;
	color: #888;
	border: none;
	outline: none;
	height: 31px;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
.omni .form {
	margin-top: 5px;
}

/*omni upload input icon*/
.upload-label {
	padding: 10px;
	cursor: pointer;
}
.upload-label .icon {
	margin-top: 8px;
}
.upload-icon{
	z-index: 99;
	position: absolute;
	right: 0;
}
.upload-icon input {
	display: none;
}

#dropper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#dropper.dragging {
	opacity: 0.5;
	background: lightblue;
	z-index: 100;
}
