section.torrents {
	margin-bottom: 20px;
}

.torrent {
	opacity: 0.95;
	min-height: 10px;
}

.torrent.open {
	opacity: 1
}

.torrent .info .name,
.torrent .info .hash {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.torrent .info .name {
	font-size: 1.2rem;
}

.torrent .info .hash {
	font-size: 0.75rem;
}

.torrent .status {
	padding-top: 10px;
	display: inline;
}

.torrent .status .muted {
	color: lightgray;
}

.torrent .controls.column {
	/*padding-top: 5px;*/
	text-align: right;
}

.torrent .stopped.row .column {
	padding: 0 100px;
	text-align: center;
	font-size: 0.75rem;
}

.torrent .download.file .name,
.torrent .download.file .percent {
	position: relative;
	overflow: hidden;
}

.torrent .download.file .progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.75;
	z-index: 0;
	padding: 4px;
	margin: 0;
	height: 100%;
	background: none;
}
.torrent .download.file .progress .bar {
	height: 100%;
}

.torrent .downloads tfoot tr th {
	font-weight: bold;
	font-size: 0.85rem;
}
